<div class="dolgozok">
    <h1>Masszőrök:</h1>
<br>
<br>
<br> 



<table class="tabla">
    <tr>
      <th>Gyuró Evelin</th>
      <th>svéd/gyógy-, csípő-hát- váll- és talpmasszázs</th>
      
    </tr>
    <tr>
      <td>Gyuró Tamara </td>
      <td>váll-nyak- és arc-fejmasszázs</td>
    
    </tr>
    <tr>
      <td>Nagyonjó Éva</td>
      <td>frissítő-, talp- és gyógymasszázs</td>
      
    </tr>
    <tr>
        <td>Kemény Viki</td>
        <td>svéd/gyógy- és váll-nyakmasszázs</td>
      </tr>
      <tr>
        <td>Kiss-Nagy Bea</td>
        <td>svéd/gyógy-, csípő-hát- váll- és talpmasszázs</td>
    
     