.login{
    padding: 150px;
    text-align: center;
    background-color: #464a53;
    color: white;
    font-size: 25px;
    line-height: 1.3;

}

h1 {
    font-size: 45px;
    text-align: center;
  }

  .buttons {
    padding: 5px;
}