body {
    background-color: #464a53;

}
.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 150px;
    background-color: #464a53;
    color: white;
    font-size: 25px;
    line-height: 1.3;
}
h1 {
    font-size: 45px;
    text-align: center;
  }