<div class="szolg">


    <h1>Masszázsok </h1>
<br>

MASSZÁZSOK:<br><br>
<u>FRISSÍTŐMASSZÁZS:</u> <br>A frissítőmasszázs egy kellemes, ősi módszer az izmok, a bőr
és a vérkeringés felfrissítésére, egyúttal a betegségek megelőzésére és
gyógyítására. A frissítőmasszázs egyénre szabott, dinamikus fogásai általános
ellazulást, és közérzetjavulást váltanak ki. A frissítőmasszázs olajjal vagy lazító
hatású gyógynövény tartalmú krémmel, masszázságyon végzett kezelés.<br><br>
<u>SVÉDMASSZÁZS/GYÓGYMASSZÁZS:</u> <br>A svédmasszázs egy egész testes kezelés,
amely simogatást, nyomást, dörzsölést és gyúrást alkalmaz a bőrön. Enyhíti a
stresszt és a feszültséget az izmokban. Hasznos az izomláz csökkentésére, fokozza
a teljesítőképességet, csökkenti a gyulladásokat és csillapítja a fájdalmat.<br><br>
<u>VÁLL-NYAKMASSZÁZS:</u><br> A nyak masszázsnál speciális fogásokat alkalmazunk a
görcsös, feszes izmok átdolgozására, kilazítására. A váll és a nyak izmainak
fájdalmas feszülése nagyon gyakran előforduló probléma. A merev tartás, a stressz
hatása sokszor itt jelenik meg. Különösen javasoljuk az ülő munkát végzők számára,
a masszázs hatására oldódik a feszültség, a felmerülő feladatokhoz, problémákhoz
könnyedebben fognak majd hozzá.<br> <br>
<u>CSÍPŐ-HÁT-VÁLLMASSZÁZS:</u><br> Az egyik leghatékonyabb módszer a stresszes
életvitel, az ülőmunka, a helytelen testtartás következtében kialakult görcsös
hátizmok lazítására. A kúraszerűen alkalmazott masszázs nem csak rendkívül
nyugtató hatású a léleknek, hanem megoldást nyújt a testi panaszok esetleges
fájdalmak csillapítására is.<br> <br>
<u>ARC-FEJMASSZÁZS:</u> <br>A masszázs célja a szövetek rugalmasságának és
feszességének megtartása, az öregedési tünetek megelőzése, kialakulásának
késleltetése. A masszázs jótékony hatásaként a fáradtság csökken, a résztvevő úgy
érzi, kicserélték, megszépül, hiszen a mindennapi stressz levezetéséhez is
jótékonyan hozzájárulhat, megnyugtatja, ellazítja.<br><br>
<u>FRISSÍTŐ TALPMASSZÁZS:</u><br> A talpmasszázs növeli szervezete ellenálló képességét.
Csökkenti a stresszt és beindítja a méregtelenítést. Általános frissítő, feszültségoldó
hatású, segíti testi, lelki egészségének megőrzését és visszaszerzését, öngyógyító
erőit aktivizálva. A talpmasszázs célja, hogy felfrissítse a talpat, megszüntesse az
úgynevezett nehéz lábat.<br><br>


  

</div>



