<div class = "main">

    

    <mat-card >
        <mat-card-header style=" display: initial;">
            <h1>Főoldal</h1><br><br><br>
        </mat-card-header>

        <mat-card-content>
            
                Üdv a M A S S Z Á Z S oldalon...<br><br><br>
                Regisztráció és bejelentkezés után megtekintheded a masszőreinket, illtve foglalhatsz időpontot masszázsra<br>
            
                <br><br><br>
                <h3>Bármi kérdésed volna:</h3>
            <p><mat-icon>call</mat-icon> +36 12 345 67 89</p>
            <p><mat-icon>email</mat-icon> test@gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>
